
/* Variáriaveis de Cores*/
:root{
    --cor-primaria: #003366;
    --cor-secundaria:#FFD700;
    --cor-texto:#333;
    --cor-bg:#F9F9F9;
    --cor-texto-banner: #003366;
    --cor-hover:#0056b3;
    --cor-sombra:rgba(0,0,0,0.1);
    --cor-sombra-hover:rgba(0,0,0,0.3);
    --titulo: 1.8em;
}
/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
boody{
    font-family: "Roboto", sans-serif;
    line-height: 1,5em;
    color:var(--cor-texto);
    background-color: var(--cor-bg);
}
/*Cabeçalho*/
header{
    background-color: var(--cor-primaria);
    color: #FFF;
    padding: 10px, 0;
}
header .header-container{
    display: flex;
    aling-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header h1{
    font-size: 1.8em;
}
nav ul{
    list-style: none;
    dispaly: flex;
    gap:  15px;
}
nav a{
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}
nav a:hover{
    color: var(--cor-segundaria);
    border-bottom: 2px, solid var(--cor-segundaria);

}
/*Banner*/
.banner{
   background-image: url('img/banner.jpg');
   background-size: cover;
   background-position: center;
   columns: var(--cor-text-banner);
   text-align: center;
   padding:80px 0;
}
.banner-text h2{
    font-size: 1.5em;
}
.banner-text p{
    font-size: 1.3em;
    margin-bottom: 20px;
}
.btn{
    background-color: var(--cor--primaria);
    color: #FFF;
    padding: 10px 20px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    text-decoration: background-color 0.3s ease-in-out;

}
 .btn:hover{
    background-color: var(--cor-hover);
 }
 /*Seçoes*/
 .section{
    padding: 40px 0 px;
    text-align center;
}
.section h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: va(--cor-primaria);
}
.section p{
    font-size: 1.1em;
    color: var(--cor-texto);
    max-width: 800px;
    margin-top: 0 auto 20px;
}
/*Imagens do sobre a Universidade*/
.about-images{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px
}
.about-images img{
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--cor-sombra);
}
/*Cursos*/
.course-grid{
    display-flex;
    flex-wrap: wrap ;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.course-card{
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--cor-sombra);
    overflow: hidden;
    background-color: var(--cor-bg);
    text-align: center;
}
.course-card img{
    width: 100%;
    height: auto;
}
.course-card: hover{
    box-shadow: 0 4 8px var(--cor-sombra-hover);
}
.course-card h3{
    margin-bottom: 15px;
}
#admin{
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 10px;
    margin: 0 auto;
}
form input, form textarea{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
    resize: none;
    online: none;
    font-family: "Poppins", sans-serif;
}
form button{
    align-serif: center;
    cursor:pointer;
    border: none;
}
/*Rodape*/
footer{
    background-color: var(--cor-primaria);
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}
.toggle-btn{
    display:block;
    font-size: 1.5em;
    color: #FFF;
    background:none ;
    border: none;
    cursor: pointer;
}
/*Responsivo: Ocultar em telas pequenas*/
@media(max-width: 768px){
    .toggle-btn{
        display:block;
    }
    nav ul{
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: var(--cor--primaria);
        padding: 20px;
        border-radius: 8px;
    }
    nav ul.active{
        display: flex;

    }
    .header-container{
        justify-content: space-between;
    }
    .section .container p{
        width: 75%;
    }
    
}
