/* Variáriaveis de Cores*/
:root{
    --cor-primaria: #003366;
    --cor-secundaria:#FFD700;
    --cor-texto:#333;
    --cor-bg:#F9F9F9;
    --cor-texto-banner: #003366;
    --cor-hover:#0056b3;
    --cor-sombra:rgba(0,0,0,0.1);
    --cor-sombra-hover:rgba(0,0,0,0.3);
    --titulo: 1.8em;

}
/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
boody{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,5em;
    color:var(--cor-texto);
    background-color: var(--cor-bg);
}